/* Barras de cima da pagina
*
*/
/* Ajustes da Logo */

#areaDoCliente{
  float: right;;
  text-align: center;
  width: 200px;
  height: 20px;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #502ecc;
  color: #ecf0f1;
  transition: background-color .3s;
}
#areaDoCliente:hover, #areaDoCliente:focus {
  background-color: #2729ae;
}

#imagenLogo{
  margin-left: 0;
  width: 150px;
  float: right;
}
.subTopNavBar{
  z-index: 0;
}
#secondNav{
  width: 100%;
  height: 20%;  
  background-color: #D1D1D9;
}
.topNav{
  background-color: white;
  color: black;
}
.subBarItem{
  margin-right: 10px;
  color: black;
  z-index: inherit;
}
.contato{
  margin-left: 100px;
  color: black;
}

.subBarLink{
  color: black;
}
.blackLinks{
  color: black;
}
/**

serarch bar
src: https://bootsnipp.com/snippets/GaeQR

*/

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #6a6a74;
  border-radius: 30px;
  box-shadow: 0 0 7px 1px #535151;
  
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.6s linear;
}

.searchbar:hover > .search_input{
  width: 200px;
  caret-color:black;
  transition: width 0.5s linear;
  padding-left: 20px;
}
.search_input:focus{
  width: 200px;
  caret-color:black;
  transition: width 0.5s linear;
  padding-left: 20px;
} 
.search_input:focus > .search_icon {
  background-color: #d1d1d9;
  box-shadow: 0 18px 30px 0 rgba(0,0,0,0.2);
  color: #d1d1d9;
}

.search_icon{
  height: 40px;
  width: 40px;
  padding: 0px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d1d1d9;
}
/*
End of search bar
*/
/*
**1ª Pagina (Slide)
*/
/*
* Geremciamento de estilos do video
*/

/*
Ajustes do titulo do primeiro slide da primeira parte 
*/
#titleFSlideFPart{
  position: absolute;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  top: 38%;
  left: 4%;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}
#textFSlideFpart{
  position: absolute;
  text-align: center;
  top: 47%;
  left: 5%;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
  font-size: 22px;
}
/*Imagens dos videos*/
.imgModal{
  position: relative;
  top: -40px;
  width: 90%;
  margin-left: 5%;
}
/*cartões dos videos*/

.cd-section iframe{
  margin: 0 auto;
  display: block;
  
  
}
.cd-section{
  width: 80%;
  align-items: center;
}
body{
  background-color: #f1f1f1;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 50rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video{
  position: relative;
  z-index: 0;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
/* Ajuste do Link saiba mais 
**
*/
#linkSaibaMais{
  position:absolute;
  padding-top: 13px;
  display: block;
  text-align: center;
  overflow: hidden;
  max-width: 250px;
  max-height: 45.29px;
  border-width: 2px;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2181F7;
  transition: background-color .3s;
  bottom: 40%;
  margin-left: 38%;
  
}
#linkSaibaMais:hover, #linkSaibaMais:focus {
  background-color: #2729ae;
}
#textSaibaMaisLink{
  color: white;
}
/*
**2ª Pagina (Slide)
*/
/**
*Titulo de todos os slides 
**/
#tituloCarroceis{
  margin-left: 30%;
  font-family: sans-serif;
  margin-top: 7%;
  color: black;
  font-weight: bold;
  font-size: 33px;
}
#subTituloCarroceis{
  margin-left: 20%;
  font-family: sans-serif;
  margin-top: 1%;
  color: #595959;
  font-size: 22px;
}
/*
*Ajusta  o tamanho do carrocel
*/
.carroselGeral{
  width: 90%;
  margin-right: 10%;
  margin-left: 14%;
}
/***
Ajusta os as setas do carroseu
***/
.carousel-control-prev , .carousel-control-next{
  display: inline;
  position: relative;
  bottom: 0;
}

.carousel-control-next{
  position: relative;
  float: right;
  right: 15%;
}
.carousel-control-prev {
  left: 20%;
}
.carousel-control-prev-icon{
  background-image: url("./resources/imagens/prevIcon.svg");
}
.carousel-control-next-icon{
  background-image: url("./resources/imagens/nextIcon.svg");
}
.carousel-indicators li{
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
/*
indicadores de slide 

*/
.carousel-indicators{
  width: 30%;
  margin-left: 33%;
}
/* Organiza a lista de videos na pagina 2 */
.videoList{
  margin-top: 100px;
  margin-left: 1%;
  margin-bottom: 5%;
  height: 236px;
  width: 300px;
  float: left;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
.quebraFloat{
  clear: both;
}
/*
Parte 3 site 
*/
#tirdPart{
  padding: 30px;
  background-color: #f1f1f1;
  border: 0;
}
#textTirdPart{
  color: black;
  float: left;
  margin-left: 5%;
}
#titleTextTirdPart{
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
}
.cardTirdPart{
  width: 365px;
  height: 236px;
  margin: 10px;
  padding: 2%;
  /*left: calc(50% - 365px/2 + 362.5px);*/
  background: linear-gradient(139.09deg, #FF58E5 9.81%, #E14ECA 46.05%, #C745B3 84.62%);
  border-radius: 4px;
  float: right;
}
.card-tilteTirdPart{
  font-size: 20px;
}
/*
Link sobre a empresa
*/
#sobreAEmpresa{
  text-align: center;
  height: 38px;
  margin-left: 60px;
  padding: 10px;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color:  #2181F7;
  color: #ecf0f1;
  transition: background-color .3s;
}


/**
Correção BackDrop
*/
.modal-backdrop{
  z-index: -1;
}
/*
Formatação condicionada ao tamanho da tela (para tamanho menor que 600px)
*/
@media (max-width: 600px){
  .searchbar{
    break-before: always;
    margin-left: auto;
    
  }
  #imagenLogo{
    margin-right: 0;
  } 
}
